<div flex-xs layout="column" class="center md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Lorenz Verschingel</span>
        <span class="md-subhead">{{'BELGIUM' | translate}}: 03/12/1992</span>
        <span class="md-subhead">{{'ABOUT_LIVES_IN' | translate}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media">
          <img src="../assets/img/lorenz_verschingel.jpg"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>{{'ABOUT_PAR_1' | translate}}</p>
      <p>{{'ABOUT_PAR_2' | translate}}</p>
      <p>{{'ABOUT_PAR_3' | translate}}</p>
      <p>{{'ABOUT_PAR_4' | translate}}</p>
    </md-card-content>
  </md-card>
</div>

<div class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'RESUME' | translate}}</span>
          <span class="md-subhead">{{'RESUME_TAG' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <embed src="../assets/pdf/LorenzVerschingel.pdf" width="100%" height="800px" type='application/pdf'>
    </md-card>
  </div>


  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'PERSONALITY' | translate}}</span>
          <span class="md-subhead">{{'PERSONALITY_TAG' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <embed src="../assets/pdf/Persoonlijkheid.pdf" width="100%" height="800px" type='application/pdf'>
    </md-card>
  </div>
</div>
