<div flex-xs flex-gt-xs="75" flex-gt-md="50" layout="column" class=center>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Lorenz Verschingel</span>
        <span class="md-subhead">{{'BELGIUM' | translate}}: 03/12/1992</span>
        <span class="md-subhead">{{'ABOUT_LIVES_IN' | translate}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media">
          <img src="../assets/img/lorenz_verschingel.jpg"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>{{'ABOUT_PAR_1' | translate}}</p>
      <p>{{'ABOUT_PAR_2' | translate}}</p>
      <p>{{'ABOUT_PAR_3' | translate}}</p>
      <p>{{'ABOUT_PAR_4' | translate}}</p>
    </md-card-content>
  </md-card>
</div>
