<div flex layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="75" flex-gt-md="50" class="md-whiteframe-z2">
    <md-content class="md-padding" layout-align="space-between center">
        <span>
          <a href="https://plus.google.com/109850315160493518434" target="_blank">
            <img src="../assets/img/contact/g+.png">
          </a>
        </span>
        <span>
          <a href="https://www.linkedin.com/in/lorenz-verschingel-938072108" target="_blank">
            <img src="../assets/img/contact/linkedin.png">
          </a>
        </span>
        <span>
          <md-button ng-href="mailto:verschingellorenz@hotmail.com?SUBJECT=Contact from eportolio" class="md-primary md-raised">E-mail</md-button>
        </span>
    </md-content>
  </div>
</div>

<div>
  <p></p>
</div>

<div flex layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="75" flex-gt-md="50" class="md-whiteframe-z2">
    <md-content class="md-padding">
      <form name="vmContact.contactForm" data-ng-submit="vmContact.sendMail()">
        <div flex layout="column">
          <md-input-container>
            <label>{{'CONTACT_NAME' | translate}}:</label>
            <input ng-model="vmContact.contactName" required>
          </md-input-container>
        </div>
        <div flex layout="column">
          <md-input-container>
            <label>{{'CONTACT_EMAIL' | translate}}:</label>
            <input type="email" ng-model="vmContact.contactEmail" required>
          </md-input-container>
        </div>
        <div flex layout="column">
          <md-input-container>
            <label>{{'CONTACT_MESSAGE' | translate}}:</label>
            <textarea ng-model="vmContact.contactMsg" columns="1" md-maxlength="1500" required></textarea>
          </md-input-container>
        </div>
        <div flex layout="column" layout-align="center center">
          <md-button type="submit" class="md-primary"
          ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"
          aria-label="Send mail">{{'CONTACT_SEND' | translate}}</md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>
