<div class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="70" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'HOBBIES_GAMING_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'HOBBIES_GAMING_CONTENT_PAR1' | translate}}
        </p>
        <p>
          {{'HOBBIES_GAMINING_CONTENT_INTRO_LIST' | translate}}
        </p>
        <ul>
          <li>The Lord of the Rings: Online</li>
          <li>Popolous: the Beginning</li>
          <li>Age of Empire</li>
          <li>Total War series</li>
          <li>Mount and Blade</li>
          <li>Empire Earth</li>
          <li>XCOM: Enemy Unknown</li>
          <li>Overlord</li>
        </ul>
        <p>
          {{'HOBBIES_GAMING_CONTENT_PAR2' | translate}}
        </p>
      </md-card-content>
    </md-card>
  </div>

  <div flex-xs flex-gt-xs="30" layout="column">
    <md-card>
      <img ng-src="../assets/img/hobbies/lotro.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'HOBBIES_GAMING_PERSONAL_FAVORIT_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'HOBBIES_GAMING_PERSONAL_FAVORIT_CONTENT' | translate}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div flex-xs layout="column" class="center md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{'HOBBIES_READING_TITLE' | translate}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img src="../assets/img/hobbies/reading.jpg"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>
        {{'HOBBIES_READING_CONTENT' | translate}}
      </p>
    </md-card-content>
  </md-card>
</div>

<div class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="33" layout="column">
    <md-card>
      <img ng-src="../assets/img/hobbies/Middle_Earth.png" class="md-card-image" alt="Map Middle-Earth">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'HOBBIES_READING_MIDDLEEARTH_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'HOBBIES_READING_MIDDLEEARTH_CONTENT' | translate}}
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="33" layout="column">
    <md-card>
      <img ng-src="../assets/img/hobbies/Midkemia.jpg" class="md-card-image" alt="Map Midkemia">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'HOBBIES_READING_MIDKEMIA_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'HOBBIES_READING_MIDKEMIA_CONTENT' | translate}}
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="33" layout="column">
    <md-card>
      <img ng-src="../assets/img/hobbies/lotro.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'HOBBIES_GAMING_PERSONAL_FAVORIT_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'HOBBIES_GAMING_PERSONAL_FAVORIT_CONTENT' | translate}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
