<div flex-xs layout="column" class="center md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">GitHub</span>
        <span class="md-subhead">Social Coding</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <img src="../assets/img/portfolio/github.png"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>
        {{'PORTFOLIO_GITHUB' | translate}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://github.com/Tyslan" class="md-primary">
        {{'PORTFOLIO_GO_TO_GITHUB' | translate}}
      </md-button>
    </md-card-actions>
  </md-card>
</div>

<div class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="../assets/img/portfolio/GolfenCountryclubOudenaarde.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'PORTFOLIO_OUDENAARDE_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'PORTFOLIO_OUDENAARDE_CONTENT' | translate}}
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary">{{'PORTFOLIO_DOWNLOAD_ZIP' | translate}}</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="../assets/img/portfolio/HeadFirstLounge.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'PORTFOLIO_HEAD_FIRST_TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{'PORTFOLIO_HEAD_FIRST_CONTENT' | translate}}
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary">{{'PORTFOLIO_DOWNLOAD_ZIP' | translate}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
