<div flex-xs flex-gt-xs="75" flex-gt-md="50" layout="column" class=center>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">GitHub</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{'PORTFOLIO_GITHUB' | translate}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://github.com/Tyslan" class="md-primary">
        Go to GitHub
      </md-button>
    </md-card-actions>
  </md-card>
</div>

<div class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="../assets/img/portfolio/GolfenCountryclubOudenaarde.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Golf- en countryclub Oudenaarde</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          Oefening in de les webapplicaties waar er voor het eerst met css werd gewerkt.
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Download als zip</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="../assets/img/portfolio/GolfenCountryclubOudenaarde.png" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Golf- en countryclub Oudenaarde</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          Oefening in de les webapplicaties waar er voor het eerst met css werd gewerkt.
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Download als zip</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
