<div flex-xs flex-gt-xs="75" flex-gt-md="50" layout="column" class=center>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">GitHub</span>
        <span class="md-headline">GitHub</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{'PORTFOLIO_GITHUB' | translate}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://github.com/Tyslan" class="md-primary">
        Go to GitHub
      </md-button>
    </md-card-actions>
  </md-card>
</div>
